.detailsWrapper {
  margin-top: 20px;
  padding: 10px;
}

.movieInfo {
  display: flex;
  gap: 10px;
}

.img {
  width: 200px;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.back {
  color: black;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  color: blue;
}

.Outlet {
  margin-top: 15px;
  padding: 5px;
  border-top: solid 1px gray;
}

.linkTitle {
  border-top: solid 1px gray;
  margin-top: 15px;
  padding-top: 10px;
}
